@use 'sass:math';
@use '../index' as *;

.container {
    width: 100%;
    // accessed from varialble.scss via index.scss using @forward and @use keywords
    max-width: $maxWidth; 
    padding-left: $gutter;
    padding-right: $gutter;
    //making div center
    margin-left: auto; 
    margin-right: auto;
}

// to make website responsive we will use media query 
// Keyword for media query is @media () {}
// inside () perenthedis we can use max-width or min-width

@media (min-width: 1200px) {
// min-widht means if we have screen size above 1200px then run code
// insided the curly brases we can target CSS classes or selectors 
// target body selector
    // body {
    //         background: green;        
    // }
}

@media (max-width: 1200px) {
    // if max-width is 1200px or below 1200px background will me red once it crosses 1000px color will change.
    // body {
    //     background-color: red;
    // }
}


@media (max-width:920px) {
    // body {
    //     background: indigo;
    // }
}

.row {
    display: flex;
    flex-wrap: wrap;

}




// We will use pixels instead of rem as some browsers do not run media query in rem.
    // this code will work when the width is equal or more then 1200px.
    // we will create 12 columns here 
    // we will use scss for loop  iteration.
@media (min-width:1200px) {
    @for $i from 1 through 12 {
        .col-xlg-#{$i} {
            flex-basis: math.div(100%,12)*$i;
            max-width: math.div(100%,12)*$i;
        }
    }
}