@use "sass/grid.scss" as *;
@use "sass/nav" as *;
@use "sass/colors" as *;
@use "sass/gutter" as *;




.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: right;
    background-color: $green;
    padding-left: $gutter;        
    padding-right: $gutter;
    flex-basis: 100%;
}

.card1 {
    
    border: 1px solid black;
}
