html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav {
  width: 100%;
  height: 7rem;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 0.1rem solid #F3F4F6;
  display: flex;
  justify-content: center;
}
.nav__wrapper {
  width: 100%;
  max-width: 120rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__wrapper__logo__brand {
  text-decoration: none;
  text-transform: capitalize;
  color: #000;
  font-size: 2.5rem;
  font-weight: 600;
  position: relative;
}
.nav__wrapper__logo__brand::after {
  position: absolute;
  right: -1;
  bottom: 0.6rem;
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  background: #10B981;
  border-radius: 50%;
  box-shadow: 0.2rem 0.2rem #6EE7B7;
}
.nav__wrapper__ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.nav__wrapper__ul__li__a {
  text-decoration: none;
  text-transform: capitalize;
  color: #000;
  font: 1.4rem;
  font-weight: bolder;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.nav__wrapper__ul__li:last-child .nav__wrapper__ul__li__a {
  padding-right: 0;
}
.nav__wrapper__ul__li:first-child .nav__wrapper__ul__li__a {
  color: #10B981;
}

.container {
  width: 100%;
  max-width: 120rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
