@use '../abstracts/colors'  as *;
@use '../abstracts/mixins' as *;

// navbar Design

.nav {
    width: 100%;
    height: 7rem;
    background: $white;
    @include position(fixed,0, null, null, 0);
    //position: fixed;
    //top: 0;
    //left: 0;
    border-bottom: 0.1rem solid $gray-100;
    @include flexBox(center, null); // this is mixin null is don't use align-items property;
    // display: flex;
    // justify-content: center;        

    &__wrapper { // & means parent class which in this case is .nav so the full form of this class is .nav__wrapper {}
        width: 100%;
        max-width: 120rem;
        @include flexBox(space-between,center); //mixin here both properties are use instead of following properties.
        // display: flex;        
        // justify-content: space-between;
        // align-items: center;
        
        &__logo { // target logo in nav wrapper 
            &__brand {                
                text-decoration: none;
                text-transform: capitalize;
                color: $black;
                font-size: 2.5rem;
                font-weight: 600;
                @include position(relative,null, null, null, null);
                //position: relative;
                &:after { // after means we can add something after brand class                   
                    @include position(absolute,null, -1, 0.6rem, null);
                    //position: absolute; //create . after name
                    content: "";
                    //right: -1;
                    //bottom: 0.6rem;
                    width: 0.8rem;
                    height: 0.8rem;
                    background: $green-500;
                    border-radius: 50%;
                    box-shadow: 0.2rem 0.2rem $green-300;
                }
            }
        }

        &__ul {
            list-style: none;
            display: flex;
            justify-content: space-evenly;

            &__li {
                &__a {
                    text-decoration: none;
                    text-transform: capitalize;
                    color: $black;
                    font: 1.4rem;
                    font-weight: bolder;
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;
                }// this will select last li in code as the same is last child of parent  and remove padding from right of blogs 
                &:last-child &__a {
                    padding-right: 0;
                }

                &:first-child &__a {
                    color: $green-500;
                }

                // &:nth-child(2) &__a {
                //     color: red;
                // }  
            }
        }       
        
    }
       
}


