@use '../abstracts/colors'  as *;

// navbar Design

.nav {
    width: 100%;
    height: 7rem;
    background: $white;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 0.1rem solid $gray-100;
    display: flex;
    justify-content: center;        

    &__wrapper { // & means parent class which in this case is .nav so the full form of this class is .nav__wrapper {}
        width: 100%;
        max-width: 120rem;
        display: flex;        
        justify-content: space-between;
        align-items: center;
        
        &__logo { // target logo in nav wrapper 
            &__brand {                
                text-decoration: none;
                text-transform: capitalize;
                color: $black;
                font-size: 2.5rem;
                font-weight: 600;

            }
        }

        &__ul {
            list-style: none;
            display: flex;
            justify-content: space-evenly;

            &__li {
                &__a {
                    text-decoration: none;
                    text-transform: capitalize;
                    color: $black;
                    font: 1.4rem;
                    font-weight: bolder;
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;
                }// this will select last li in code as the3 same is last child of parent  and remove padding from right of blogs 
                &:last-child &__a {
                    padding-right: 0;
                }

                &:first-child &__a {
                    color: $green-500;
                }

                &:nth-child(2) &__a {
                    color: red;
                }  
            }
        }       
        
    }
       
}


