// mixins are used to avoid repeated code.
// mixins for flex box.
@use 'sass:math';
@use 'varialbles' as *;

@mixin flexBox($x,$y) { // $x means justify content $y means aligned itends
    display: flex;
    justify-content: $x;
    align-items: $y;
}


//mixins for positions.

@mixin position($name,$top, $right, $bottom, $left) {
    position: $name;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}
// add math module on top as @use 'sass:math';
// copy for loop code into mixin 
// only one parameter $key

@mixin columns($key) {    
    @for $i from 1 through 12 {
        .col-#{$key}-#{$i} {
            flex-basis: math.div(100%,12)*$i;
            max-width: math.div(100%,12)*$i;
        }
    }
}


@mixin responsive($screen){
   @if $screen == lg {
    @media (max-width: map-get($breakPoints, "lg")){
        @content;
    }
   }
   @else if $screen == md {
    @media (max-width:map-get($breakPoints, "md")){
        @content;
    }
   } 
   @else if $screen == sm {
    @media (max-width:map-get($breakPoints, "sm")){
        @content;
    }
   }
   @else if $screen == xsm {
    @media (max-width:map-get($breakPoints, "xsm")){
        @content;
    }
   }
}